@model List<DTO.Admin.GetScrambleDTO>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Scramble | Adminitrator";
}

<span>Filter: </span>
<select onchange="redirectToPage(this)">
    <option value="a81e2eed-1fab-11ee-9b01-a02bb82e10f9">3x3x3</option>
    <option value="08db8432-4949-4e0a-8087-b23c646db400">4x4x4</option>
    <option value="08db8bee-c2d3-4aaa-83ef-728471e8b34d">5x5x5</option>
</select>
<a href="/scramble/create" class="btn btn-success float-end">New Scramble</a>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Author</th>
            <th>Category</th>
            <th>Algorithm</th>
            <th>Solve</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count != 0)
        {
            @foreach (var scrambles in Model)
            {
                <tr style="cursor: pointer" class="scrambles" data-id="@scrambles.Id">
                    <td>@scrambles.Id</td>
                    <td>
                        <span>@scrambles.Account.Name</span><br>
                        <small>@scrambles.Account.Email</small>
                    </td>
                    <td>@scrambles.Category.Name</td>
                    <td>@scrambles.Algorithm</td>
                    <td>@(scrambles.Solve != null ? scrambles.Solve : "Not found")</td>
                    <td>@scrambles.CreatedAt.ToString("dd-MM-yyyy")</td>
                </tr>
            }
        }
    </tbody>
</table>

<script>
    function redirectToPage(selectElement) {
        window.location.href = "/scramble?catId=" + selectElement.value;
    }

    window.onload = function () {
        var urlParams = new URLSearchParams(window.location.search);
        var selectedValue = urlParams.get("catId");
        if (selectedValue) {
            var selectElement = document.querySelector("select");
            selectElement.value = selectedValue;
        }
    }

    var trElement = document.querySelectorAll(".scrambles");
    
    trElement.forEach(element => {
        element.addEventListener("click", () => {
            window.location.href = "/scramble/" + element.getAttribute("data-id");
        })
    })
</script>